<!DOCTYPE html>
<html ng-app="clock">
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>

<!-- Determine local timeZone name -->
<script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/jstimezonedetect/1.0.4/jstz.min.js'></script>

<script src="jquery.autocomplete.js"></script>

<script src="ui-bootstrap-tpls-0.12.1.min.js"></script>
<script src="jquery.timepicker.min.js"></script>
<script src="timepickerdirective.min.js"></script>

<script src="moment.min.js"></script>
<script src="moment-timezone-with-data.min.js"></script>

<link href='https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css' rel="stylesheet"/>

<script src="app.js"></script>
</head>

<body>
<div ng-controller="ClockController">
    <label> {{localTime.title}} </label>
	
	<div class="row">
		<div class="col-md-6">
			  <p class="input-group">
			    <input type="text" index=0 name="localTime" size=13 class="form-control" ng-model="localTime.timePart" ng-change="timestampChanged($index)" ui-timepicker ui-timepicker-events />
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="open($event, 0)"><i class="glyphicon glyphicon-calendar"></i></button>
				</span>			  
				<input readonly type="text" class="form-control" ng-change="dateChanged(0)" ng-model="localTime.datePart"
						is-open="localTime.editMode" ng-required="true" datepicker-popup="yyyy-MM-dd" show-button-bar="false" />
			</p>
		</div>
	</div>
	
	<label> {{localTime.timeZoneName}} </label>
	<label ng-if="!localTime.invalidTime" ng-bind="localTime.moment"></label>
	<label ng-if="localTime.invalidTime" style="color: #FF0000">Invalid Time</label>
	<br />
	<input type="button" ng-click="resetAllClocks()" value="Reset">
	<br />
	
	<hr />
	<input type="text" name="timeZoneToBeAdded" size=13 ng-model="timeZoneToBeAdded" auto-complete>
	<br /><br />
	
	<ol>
		<li ng-repeat="addedTimeZone in allTimeZones" ng-if="$index > 0">
		    <label> {{addedTimeZone.title}} </label>

			<div class="row">
				<div class="col-md-6">
					  <p class="input-group">
					  	<input type="text" validtime=true size=13 class="form-control" index="$index" ng-model="addedTimeZone.timePart" ng-change="timestampChanged($index)" ui-timepicker ui-timepicker-events>
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="open($event, $index)"><i class="glyphicon glyphicon-calendar"></i></button>
						</span>
						<input readonly type="text" class="form-control" ng-change="dateChanged($index)" ng-model="addedTimeZone.datePart"
								is-open="addedTimeZone.editMode" ng-required="true" datepicker-popup="yyyy-MM-dd" show-button-bar="false" />
						<span class="input-group-btn">
						<button type="button" class="btn btn-default" index="$index" ng-click="removeTimeZone($index)">Remove</button>
						</span>
					</p>
				</div>
			</div>

			<br />
			<label> {{addedTimeZone.timeZoneName}} </label>
			<label ng-if="!addedTimeZone.invalidTime" ng-bind="addedTimeZone.moment"></label>
			<label ng-if="addedTimeZone.invalidTime" style="color: #FF0000">Invalid Time</label>
		</li>
	</ol>

	<hr />
</div>

</body>
</html>