<!DOCTYPE html>
<html ng-app="clock">
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>

<!-- Determine local timeZone name -->
<script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/jstimezonedetect/1.0.4/jstz.min.js'></script>

<script src="jquery.autocomplete.js"></script>

<script src="jquery.timepicker.min.js"></script>
<script src="timepickerdirective.min.js"></script>

<script src="moment.min.js"></script>
<script src="moment-timezone-with-data.min.js"></script>

<script src="app.js"></script>
</head>

<body>
<div ng-controller="ClockController">
    Local Time: 
	<input type="text" index=0 name="localTime" size=13 ng-model="localTime.vanillaDate" ng-change="timestampChanged($index)" ui-timepicker ui-timepicker-events>
	<input type="button" ng-click="resetAllClocks()" value="Reset">
	<label ng-bind="localTime.moment"></label>
	<br /><br />
	
	<hr />
	<input type="text" name="timeZoneToBeAdded" size=13 ng-model="timeZoneToBeAdded" auto-complete>
	<input type="button" ng-click="addTimeZone()" value="Add">
	<br /><br />
	
	<ol>
		<li ng-repeat="addedTimeZone in allTimeZones" ng-if="$index > 0">
		    <label> {{addedTimeZone.timeZoneName}} </label>
			<input type="text" size=13 index="$index" ng-model="addedTimeZone.vanillaDate" ng-change="timestampChanged($index)" ui-timepicker ui-timepicker-events>
			<input type="button" index="$index" ng-click="removeTimeZone($index)" value="Remove">
			<label ng-bind="addedTimeZone.moment"></label>
		</li>
	</ol>

	<hr />
</div>

</body>
</html>