.error-message {
  font-family: "Times New Roman", Times, serif;
	font-size: 0.875em;
}

.btn-circle {
  width: 20px;
  height: 20px;
  text-align: center;
  padding: 2px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 10px;
}

/* Date picker always has to be associated with an input or a div or a span.
   However, in our UX we do not want to show the date but just want to show
   the date picker. So, we hide the date input under the time input. Setting
   the date input to invisible will not work because the date picker expects
   a visible date input.
*/
.form-control.hidden-date-input {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top:0px;
  z-index:-1;
}

.spacer {
    margin-top: 15px;
}

/*
Together help keep content within a div centered.
http://stackoverflow.com/questions/114543/horizontally-center-a-div-in-a-div
*/
#outer {
  text-align: center;
}
#inner {
  display: inline-block;
}