.error-message {
  font-family: "Times New Roman", Times, serif;
	font-size: 0.875em;
}

.btn-circle { 
  width: 20px;
  height: 20px;
  text-align: center;
  padding: 2px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 10px;
}

/* Date picker always has to be associated with an input or a div or a span.
   However, in our UX we do not want to show the date but just want to show
   the date picker. So, we hide the date input under the time input. Setting
   the date input to invisible will not work because the date picker expects
   a visible date input.
*/
.form-control.hidden-date-input {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top:0px;
  z-index:-1;
}

.spacer {
    margin-top: 15px;
}

/*
Used for text that is not very important. For ex. a link to the about.html page
*/
.faded {
  color: lightgray;
}

.heading-color1 {
  color: #00c6ff;
  font-size: 20px;
  font-weight: bold;
}

.heading-color2 {
  color: #46d633;
  font-size: 20px;
  font-weight: bold;
}

/*
Together help keep content within a div centered.
http://stackoverflow.com/questions/114543/horizontally-center-a-div-in-a-div
*/
#outer {
  text-align: center;
}
#inner {
  display: inline-block;
}

input[type="checkbox"] {
  display:none;
}

input[type="checkbox"] + span:before {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type="checkbox"] + span:before {
  content: "\e157"; /* unchecked */
}

input[type="checkbox"]:checked + span:before {
  content: "\e067"; /* check */
}

.bold-input {
  font-weight: bold;
}

.autocomplete-suggestions { border: 1px solid #46d633; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #00c6ff; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }